@import ../main/main


.intro-images
    grid-column: wide
    color: $blue-dark

    .__img.--intro1
        +image($img-intro1)
        height: 59.4rem
        content: " "

    .__img.--intro2
        +image($img-intro2)
        height: 37.4rem
        content: " "

    .__arrow.--up, .__arrow.--down
        +image($caption-arrow)
        width: 6rem
        height: 3rem
        margin: 0 auto
        content: " "

    .__arrow.--down
        transform: scaleY(-1)

    .__caption
        font-weight: $weight_light
        font-size: $size_medium
        line-height: 3rem
        font-family: $font-family
        margin: 0 auto
        padding: 3rem 6rem
        border-radius: 0.3rem
        background: #f3f8fa

    .__caption.--up
        border-bottom: 0.3rem solid $white

    +respond--mini
        .__img
            max-height: 40vh

        .__caption
            max-width: 100%
            padding: 3rem
            font-size: 1.5rem

    +respond--small
        .__img
            max-height: 50vh

        .__caption
            max-width: 100%
            padding: 3rem
            font-size: 1.5rem

    +respond--medium
        .__img
            margin: 3rem auto

        .__caption
            max-width: 54rem


.sign-up
    grid-column: wide
    text-align: center

    .__link
        +text--link
        font-size: $size_large

    .__button
        +button--big($white, $green, $green-dark)
        margin: 9rem auto 1.5rem

    +respond--mini
        .__link
            font-size: $size_small

        .__button
            margin: 3rem auto 1.5rem
