@import ../main/main


.main-content .__hr
    grid-column: 4 / 15
    height: 0.2rem
    margin: 6rem 0 0
    border: 0
    background: $blue-bright


.project-masthead
    display: grid
    grid-column: 2 / -2
    height: 15rem

    .__logo
        place-self: center


.project-intro
    grid-column: 2 / -2
    border-radius: 0.7rem 0.7rem 0 0
    margin: 0 -1rem 0
    padding: 0 1rem 0
    background: white
    color: $blue-dark
    text-align: center

    &:after
        position: absolute
        z-index: -1
        right: 0
        left: 0
        width: 100%
        height: 100rem
        margin-top: -66rem
        background-image: linear-gradient(#e5faff 50%, #edfafd 100%)
        content: " "
        transform: skewY(3deg)

    .__desc
        padding: 1.2rem 0.5rem
        font-weight: $weight_normal

    .__video
        width: 100%
        border-radius: 0.6rem
        cursor: pointer


.pledge-area
    grid-column: 1 / last
    text-align: center

    .__button
        +button($gold, #63c68a, #44a76b)
        margin: 3.5rem auto 2rem
        padding: 1.5rem 3.6rem
        font-size: $size_large
        letter-spacing: 0.1rem
        text-shadow: 0.3rem 0.2rem 0 transparentize($blue-dark, 0.74)

        &:before
            padding: 0 1rem 0 0
            vertical-align: 0.1rem
            content: "u"
            font-weight: normal
            font-family: symbols

        &:hover
            box-shadow: 0 0 0 transparentize($blue-dark, 0.9)
            text-shadow: 0.3rem 0.2rem 0 transparentize($blue-dark, 0.74)

    .__link
        +fx-link
        font-weight: $weight_bold
        color: lighten($link, 25%)
        text-decoration: none
        border-bottom: 0
        display: inline-block
        margin: 2rem 0

        &:hover
            border-bottom: 0
            color: $link

        &:before
            content: "i "
            font-weight: normal
            font-family: symbols


.pledge-illustration
    display: grid
    grid-column: 1 / last
    grid-template-columns: 21rem 12rem 12rem auto
    margin: 3.6rem 0 4rem

    .__patrons1, .__patrons2,
    .__dollars1, .__dollars2,
    .__month1, .__month2
        position: relative
        right: 2rem
        justify-self: end
        color: $blue-dark
        font-weight: $weight_semi-bold
        font-size: $size_large

        .__value
            padding: 0 0.6rem 0 0

        .__prop
            z-index: 2
            right: -0.5rem
            display: block
            height: 6rem
            margin: -3.5rem 0 2rem 0
            padding: 2.7rem 0.6rem 0 0
            border-right: solid 0.2rem $blue-bright
            background: white
            color: $blue
            font-size: $size_small
            text-align: right

            &:after
                position: absolute
                z-index: -1
                top: 1.4rem
                color: $blue-dark
                content: "u"
                font-weight: normal
                font-size: 4rem
                font-family: symbols

    .__patrons1, .__patrons2
        grid-column: 1

    .__dollars1, .__dollars2
        grid-row: 2
        grid-column: 1

        .__prop:after
            top: 1.2rem
            content: "$"
            font-size: 5rem
            font-family: symbols

    .__arrow
        grid-row: 1 / span 2
        grid-column: 2 / span 1
        place-self: center
        transition: transform 0.2s ease-out 0s

        &:before
            margin-right: 2rem
            color: $blue-dark
            content: ">"
            font-size: 6.7rem
            font-family: symbols

    .__month1, .__month2
        top: 3rem
        right: 0
        grid-row: 1 / span 2
        grid-column: 3
        align-self: center
        justify-self: start
        text-align: left

        .__prop
            border: none
            background: transparent

            &:after
                position: absolute
                z-index: -1
                top: -7.4rem
                left: 0
                color: $blue-dark
                content: "22"
                font-weight: normal
                font-size: 18rem
                font-family: symbols

    .__month2 .__prop:after
        content: "333"

    .__bubble
        grid-row: 1 / span 2
        grid-column: 4
        justify-self: start
        self-align: start
        margin-top: -6rem

    // Hide post-pledge numbers in illustration initial state
    .__patrons2, .__dollars2, .__month2
        display: none

// Show pledge animation when button is hovered
.pledge-area .__button:hover ~ .pledge-illustration

    // Hide pre-pledge numbers
    .__patrons1, .__dollars1, .__month1
        display: none

    // Show post-pledge numbers
    .__patrons2, .__dollars2, .__month2
        display: block

        .__value .--change
            font-weight: $weight_ultra-bold
            animation: pulse 1.3s alternate infinite ease-in-out

    .__arrow
        transform: translate(0.7rem, 0)


.menu-tabs
    grid-column: 2 / 17
    padding-left: 4rem

    &:before
        position: relative
        z-index: -1
        top: 1.5rem
        left: -4rem
        display: block
        width: 100%
        height: 0.2rem
        content: " "
        background-image: linear-gradient(to right, $blue-bright 40%, white)

    .__bg
        display: inline-block
        margin: 0 1.9rem 0 0.6rem
        background: white

    .__link
        +text--link
        z-index: 2
        margin: 0 1.5rem 0
        font-weight: $weight_bold


.project-info
    grid-column: 3 / 15
    color: $blue-dark

    .__heading
        margin: 6rem 0 3rem
        Font-size: $size_huge
        line-height: 1
        font-family: $font-family
        letter-spacing: -0.06rem
        font-weight: $weight_light

    .__subheading
        margin: 6rem 0 3rem 3rem
        font-size: $size_medium
        line-height: 1
        font-family: $font-family
        font-weight: $weight_semi-bold

    .__content
        margin-left: 3rem

    .__content.--summary
        width: 27rem
        margin-top: 2rem
        font-size: $size_small

        .__prop
            display: inline-block
            width: 10rem
            margin: 0.1rem 0 0.1rem -1rem
            padding: 0 1rem
            border-radius:  10rem / 30rem
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            background: lighten($blue-bright, 8%)
            color: $blue
            font-weight: normal
            text-align: left

        .__value
            display: inline-block
            width: 17rem
            padding: 0 1rem

        .__link
            +text--link
            font-weight: $weight_semi-bold
            font-size: $size_small


.project-info.--updates
    .__link
        +text--link
        font-weight: $weight_semi-bold

    .__link.--all
        margin-left: 3rem

    .__note
        margin-bottom: 2rem
        color: $blue
        font-size: $size_small


.update-article
    margin-bottom: 6rem

    .__timestamp
        font-weight: $weight_normal
        font-size: $size_small
        color: $blue

    .__subheading
        margin: 2rem 0 1.7rem 3rem

    .__thumb
        grid-column: 5 / 15
        border-radius: 0.8rem
        margin-top: 1rem
        opacity: 0.8

    .__link.--more
        float: right


// Pulse effect for pledge animation
@keyframes pulse
    50%
        opacity: 0.25
    100%
        opacity: 1
