@import ../../page/devel/index
// This is styling for development notes only.
// See main/_alert.sass for the notifications stylesheet.


// Example of the warning alert with an image
.alert-box.--warning.--img
    .__msg:after
        +image($alert-close-limit)
        width: 14.5rem
        height: 14.5rem
        margin-top: -12rem
