@import ../../main/main


.devel-info
    grid-column: wide

    .__heading
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 3rem
        font-family: $font-family

        +respond--mini
            margin: 3rem 0 1.5rem

        +respond--small
            margin: 3rem 0

        +respond--medium
            margin: 3rem 0

    .__intro
        margin: 3rem 0

    .__link
        +text--link

    .__warning
        font-weight: $weight_bold


.ref-list, .specs-list
    margin: 0 0 3rem 3rem
