@import ../../main/main


.main-content.--tilt-tall:before
    +header--tilt(33rem)

.main-header.--tilt
    height: 39rem

    .__title:after
        +image($auth-header-welcome)
        display: block
        width: 15.2rem
        height: 19.6rem
        margin: 4.5rem auto 3rem
        content: " "

    +respond--mini
        .__title
            font-size: 2.7rem


.auth-box
    color: $blue-dark
    background: #ecfbfe
    border-radius: 0.6rem

    +respond--mini
        grid-column: 1 / last

    +respond--small
        grid-column: 1 / last

    +respond--medium
        grid-column: 5 / -5


.auth-box.--form
    font-weight: $weight_light
    font-size: $size_medium
    line-height: 3rem
    font-family: $font-family
    margin: 3rem 0 4.5rem
    padding: 3rem

    .__intro
        margin: 0 0 3rem 0

    .__link
        +text--link


.auth-box.--login
    font-weight: $weight_normal
    font-size: $size_small
    line-height: 3rem
    font-family: $font-family
    margin: 0
    padding: 1rem 3rem
    text-align: center

    .__link
        +text--link
        font-size: $size_small


.signup-form
    .__button
        +button--big($white, $green, $green-dark)
        margin: 3rem auto 0

    // Show labels on the top border of a field
    // when the field gains focus
    .__label
        font-weight: $weight_semi-bold
        font-size: $size_tiny
        line-height: 3rem
        font-family: $font-family
        position: relative
        visibility: hidden
        margin: -3rem -3rem 0
        padding: 0 0.3rem

    .__label.--email,
    .__label.--passphrase
        top: -7.2rem
        left: 1.5rem

    .__label.--email:before,
    .__label.--passphrase:before
        position: relative
        top: 1.8rem
        left: -0.6rem
        display: block
        height: 1rem
        background: #ecfbfe
        content: " "

    .__label.--email:before
        width: 4.2rem

    .__label.--passphrase:before
        width: 7.8rem

    .__field
        font-weight: $weight_light
        font-size: $size_medium
        line-height: 3rem
        font-family: $font-family
        width: 100%
        height: 4.5rem
        margin: 0
        padding: 0 1.5rem
        border: 0.1rem solid #7ba7c0
        border-radius: 0.6rem
        color: transparentize($blue-dark, 0.6)

    .__field:focus
        color: $blue-dark

    // Show label when field gains focus or
    // when field contains user input
    .__field:focus + .__label,
    .__field:not(:placeholder-shown) + .__label
        visibility: visible
        color: $blue-dark

    .__field:focus::placeholder
        color: transparent

    // Show error messages for invalid input fields
    // Validate and show error when user inputs into a field
    .__field:not(:placeholder-shown):invalid
        border: 0.1rem solid $red
        box-shadow: none
        color: $red

    .__field.--email:not(:placeholder-shown) + .__label + .__error.--email,
    .__field.--passphrase:not(:placeholder-shown) + .__label + .__error.--passphrase
        visibility: visible

    // Restore field and hide error if field is valid
    .__field:valid
        border: 0.1rem solid #7ba7c0
        color: $blue-dark

    .__field.--email:valid + .__label + .__error.--email,
    .__field.--passphrase:valid + .__label + .__error.--passphrase
        visibility: hidden

    // Hide error messages until activated by field input
    .__error.--email, .__error.--passphrase
        visibility: hidden
        height: 3.5rem
        margin: -4rem 0 0 0
        font-weight: $weight_semi-bold
        font-size: $size_tiny
        line-height: 1.8rem
        font-family: $font-family
        color: $red

    +respond--mini
        .__button
            margin: 3rem auto 0
