{# Begin active-link #}
{# This control structure sets the currently active link in the dashboard tabs.
This is for the prototype only. For production, edit the menu link classes to
their corresponding Haskell variables. #}
{% if page.route.slug == "dashboard/now" %}
  {% set active_dashboard = "--active" %}
{% elif page.route.slug == "dashboard/history" %}
  {% set active_history = "--active" %}
{% elif page.route.slug == "dashboard/settings" %}
  {% set active_settings = "--active" %}
{% endif %}
{# End active-link #}

<nav class="dashboard-nav">
  <a class="__link {{ active_dashboard }}" href="/dashboard/now">
    Now</a>
  <a class="__link {{ active_history }}" href="/dashboard/history">
    History</a>
  <a class="__link {{ active_settings }}" href="/dashboard/settings">
    Settings</a>
</nav>
