<!-- Begin navbar alert -->
<input class="alert-close --navbar" type="checkbox">
<input class="alert-expand --navbar" type="radio" name="navbar-alert">
<div class="alert-box --navbar --danger">
  <h2 class="__title">Danger notification</h2>
  <div class="__body">
    <p class="__msg">
      This is a danger notification.
    </p>
    <div class="__img --me"></div>
  </div>
</div>
<!-- End navbar alert -->

<!-- Begin navbar alert -->
<input class="alert-close --navbar" type="checkbox">
<input class="alert-expand --navbar" type="radio" name="navbar-alert">
<div class="alert-box --navbar --info" >
  <h2 class="__title">Info notification</h2>
  <div class="__body">
    <p class="__msg">
      This is an informational notification.
    </p>
    <a class="__button" href="/how-it-works">learn more</a>
    <div class="__img --me"></div>
  </div>
</div>
<!-- End navbar alert -->

<!-- Begin navbar alert -->
<input class="alert-close --navbar" type="checkbox">
<input class="alert-expand --navbar" type="radio" name="navbar-alert">
<div class="alert-box --navbar --info" >
  <h2 class="__title">Info notification</h2>
  <div class="__body">
    <p class="__msg">
      This is an informational notification.
    </p>
    <div class="__img --me"></div>
  </div>
</div>
<!-- End navbar alert -->


{# Show a link to notifications area if there are more than 3 unread. #}
{% if user.alerts.unread > 3 %}
  <div class="alert-tab">
    <a class="__link" href="/dashboard/notifications">go to notification area</a>
  </div>
{% endif %}
