@import ../../main/main
@import ../../main/dashboard


.info-text
    grid-column: 2 / 16
    margin-left: 3rem
    color: $blue
    font-family: Nunito
    font-size: 2.1rem
    font-weight: 600

    b, span
        font-size: 2.9rem
        color: $blue-dark
    span
        font-weight: 200

.month-box

    .__limit
        position: absolute
        width: 12rem
        right: -4.5rem
        top: -4.5rem
        padding: 0 0 1.5rem 1.5rem
        text-align: center
        background: white

        .__limit-title
            display: block
            width: 12rem
            color: $red
            font-size: 2.1rem
            font-family: Nunito
            font-weight: 800

        .__limit-form
            position: relative
            width: 12rem
            z-index: 2
            background-image: linear-gradient($red, darken($red, 10%))
            border-radius: 0.6rem/3rem
            box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem transparentize($blue-dark, 0.85)

            .__limit-minus, .__limit-plus
                display: inline
                width: 2.7rem
                height: 3rem
                border: none
                background: none
                font-family: Nunito
                font-size: 2.1rem
                font-weight: 800
                text-align: center
                color: white
                text-shadow: 0.2rem 0.2rem 0.2rem #9d545f
                cursor: pointer

            .__limit-value
                position: relative
                top: -0rem
                width: 6.5rem
                height: 2.6rem
                border: none
                color: $red
                text-align: center
                font-family: Nunito
                font-size: 2.1rem
                background: white
                border-radius: 0.2rem
                font-weight: 800
                line-height: 0.2rem

        .__limit-bar
            z-index: 1
            position: relative
            left: 3rem
            width: 6rem
            height: 12rem
            background-color: #ecfafd

        .__limit-percent
            position: absolute
            width: 6rem
            min-height: 1%
            bottom: 0
            background-color: #b6ecfb

            &:before
                position: absolute
                left: 0
                bottom: 0.2rem
                margin: 0
                padding: 0
                width: 6rem
                height: 3rem
                content: "u"
                font-family: Symbols
                font-size: 4rem
                color: $blue-dark
                line-height: 1

            &:after
                position: absolute
                bottom: -4rem
                left: 2rem
                content: " "
                width: 2rem
                height: 2rem
                border: 0.1rem solid $blue
                border-bottom: none
                border-right: none
                transform: rotate(45deg)


.__payment-title, .__payment-body,
.__limit-info-title, .__limit-info-body
    grid-column: 4 / 14

.__payment-title
    position: relative
    margin: 6rem 0 1.5rem
    line-height: 1
    font-size: $size_medium
    font-weight: $weight_ultra-bold
    font-family: $font-family
    font-style: italic

    &:before
        position: absolute
        content: "i"
        top: -6rem
        left: -9rem
        font-family: Symbols
        font-size: 8.2rem
        color: $blue-dark

.__payment-body
    font-style: italic

.__limit-info-title
    margin: 9rem 0 1.5rem
    line-height: 1
    font-size: $size_medium
    font-weight: $weight_ultra-bold
    font-family: $font-family
    color: $red

.__limit-info-body
    color: $red
    font-weight: 600
