.dashboard-nav
    +tab-nav
    // Position nav on the header tilt line
    margin: -7.5rem auto 9rem

.month-box
    display: grid
    position: relative
    grid-column: 2 / 16
    grid-template-columns: auto 13.5rem
    margin: 6rem 0 5rem
    padding: 6rem 0 3rem
    background-color: white
    border: 0.1rem solid $blue
    border-radius: 0.5rem
    font-weight: 600

    .__headline
        position: absolute
        top: -2rem
        left: 2rem
        padding: 0.5rem 1rem 0 1rem
        line-height: 3rem
        font-size: $size_large
        font-weight: $weight_ultra-bold
        font-family: $font-family
        color: $blue-dark
        background: white

        b, span
            font-size: 2.9rem
            color: $blue-dark
        span
            font-weight: 200

    .__project-name
        grid-column-start: 1
        justify-self: stretch
        overflow: hidden
        height: 3rem
        padding: 0 0 0 6rem
        font-size: 2.1rem
        font-family: nunito

        a
            +text--link
            font-weight: 600
            display: inline

        &:after
            position: relative
            content: " . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . ."
            color: $blue-bright

    .__project-pledge
        grid-column-start: 2
        justify-self: start
        color: $blue-dark
        font-size: 2.1rem
        font-family: nunito

        &.dropped
            color: $red
            font-weight: 800
            background: lighten( $red, 30% )
            border-bottom: 0.2rem solid $red
            padding: 0 1rem
            margin: 0 -1.5rem -2rem -3rem
            border-radius: 0.6rem 0.6rem 0 0
            z-index: 3

    .__project-patrons
        grid-column-start: 2
        justify-self: start
        padding-bottom: 2rem
        margin-top: -0.75rem
        color: $blue
        font-size: 1.3rem
        font-family: nunito
        font-weight: 800
        letter-spacing: 0.05rem
        z-index: 3

        &.dropped
            color: $red

        &:before
            font-family: "Symbols"
            content: "U"

    .__projects-sum
        position: absolute
        float: none
        bottom: -1.5rem
        left: 47.5rem
        padding: 0 1.5rem
        background: white
        font-size: 2.1rem
        font-family: nunito
        font-weight: 800
        color: $blue-dark

    .__projects-delay
        position: absolute
        float: none
        bottom: -1.5rem
        right: 14rem
        padding: 0 1.5rem
        background: white
        font-size: 1.7rem
        text-align: right
        color: $blue
        font-weight: 300

        a
            +text--link
            padding-left: 0.3rem

            b
                font-weight: 800

    &:last-of-type
        margin-bottom: 0

.fee-charge
    display: grid
    grid-column: 1 / 16
    grid-template-columns: auto 15rem 8rem
    font-family: nunito
    font-size: 2.1rem
    font-weight: 400
    color: $blue-dark

    .__fee, .__charge, .__overcharge, .__carryover
        grid-column: 1 / 3
        justify-self: end
        margin: 0 0 4.5rem

        span
            padding-left: 4.5rem

    .__charge
        text-shadow: 0 0.3rem 0 white
        margin: 0 -1rem 6rem -0.4rem
        z-index: 2
        font-size: 2.9rem
        font-weight: 300

        span
            font-weight: 800
            padding-left: 3rem

        &:after
            position: relative
            bottom: 0.8rem
            z-index: -1
            content: " "
            display: block
            height: 1.5rem
            background: $gold
            border-radius: 0.3rem/0.8rem
            margin: 0 -0.3rem

    .__overcharge
        +text--link
        margin-top: -6rem
        font-weight: 600
        font-size: 1.7rem

    .__carryover
        margin-bottom: 0.4rem

        a
            +text--link

            b
                font-weight: 800
