// _mixins.sass
//
// A collection of reusable UI patterns, in use by multiple pages across the
// site. Check all those places when making changes!
//
// This is the *only* place that sitewide mixins should be defined.
//
//
// --------
// Contents
// --------
//
// - Typography
// - Effects
// - Grid and media queries
// - Utilities
// - UI components


////////////////
// Typography //
////////////////

/// Load a font face
=font($family, $weight, $style, $woff2, $woff)
    @font-face
        font-family: $family
        font-style: $style
        font-weight: $weight
        src: local($family), url($woff2) format("woff2"), url($woff) format("woff")


/// Insert a pre-defined font declaration
    - Presets except slogan and h1-h6 were extracted from the Design Guide
    (2017-06-23). Based on a html font size at 62.5% of 16px browser font size.
    - They are labelled with mixins to allow for site-wide adjustments to
    body/heading fonts, with less clutter in the HTML.
    - Recommended vertical margins for h1-h6: top 6rem, bottom: 3rem
    - Font size for links should be additionally set or inherited from parent
/// The above comment applies to mixins that no longer exist. It is left here
    temporarily since they may be re-added shortly; otherwise, preserve the info
    elsewhere and remove it.

=text--link
    border-bottom: 0.2rem solid transparent
    font-weight: $weight_normal
    color: $link
    font-family: $font-family
    text-decoration: none

    &:visited
        color: $link--visited

    &:hover
        border-bottom: 0.2rem solid $link--hover
        color: $link--hover

    &:active
        color: $link

    &:focus
        outline: 0
        border-bottom: 0.2rem solid $link


/////////////
// Effects //
/////////////

/// Emulate a text link
    Used with non-anchor elements like navigation menu toggles.
=fx-link
    border-bottom: 0.2rem solid transparent
    color: $link
    cursor: pointer
    text-decoration: none
    transition: color 0.2s ease-in 0s, border-bottom 0.2s ease-in 0.1s

    &:visited
        color: $link--visited

    &:hover
        border-bottom: 0.2rem solid $link--hover
        color: $link--hover

    &:active
        color: $link

    &:focus
        outline: 0

/// Hide an element
=fx-hidden
    position: absolute
    overflow: hidden
    width: 0.1rem
    height: 0.1rem
    margin: -0.1rem
    padding: 0
    border: 0
    clip: rect(0 0 0 0)


////////////////////////////
// Grid and media queries //
////////////////////////////

/// Wrap styles in media queries for pre-defined sizes. Call the mixin with
    the desired size and nest styles under it like a regular media query.
    Example:
    +respond--medium
        .header-logo
            display: none
=respond--mini
    @media (max-width: $break--small - 1)
        @content

=respond--small
    @media (min-width: $break--small) and (max-width: $break--medium - 1)
        @content

=respond--medium
    @media (min-width: $break--medium)
        @content


///////////////
// Utilities //
///////////////

/// Insert a Fork Awesome icon by content code
    Code chart: https://forkaweso.me/Fork-Awesome/cheatsheet/
    e.g. +fa("\f00c", 2.7rem) -> fa-check icon at 2.7rem font size
=fa($icon, $size)
    content: "#{$icon}"
    font-style: normal
    font-variant: normal
    font-weight: normal
    font-size: $size
    line-height: 1
    font-family: ForkAwesome


/// Insert a background image
=image($img)
    background: url($img) center/contain no-repeat


///////////////////
// UI components //
///////////////////

/// Set horizontal rule
=hr
    height: 0.6rem
    margin: 3rem auto
    border: 0
    border-radius: 0.3rem
    background: #f0fafd none repeat scroll 0 0

/// Set horizontal rule to tilt upward ltr
=hr--tilt
    +hr
    height: 0.15rem
    background: $blue-bright none repeat scroll 0 0
    transform: skewY(-3deg)

/// $gradient-height: Gradient background this tall at center point
    $tilt-height: Controls tilt angle. 100vw * tan(3deg) = ~5.24vw
=header--tilt($gradient-height, $tilt-height: 5.24vw)
    height: calc(#{$gradient-height} + #{$tilt-height} / 2)
    // The tilted baseline is made with the first linear gradient. It's set up
    // 'to left top' instead of an angle so that it will always form a clean
    // triangle across the whole screen (not cut off at the top or left).
    background-image: linear-gradient(to left top, #fff 50%, transparent 50%), linear-gradient($blue-grad--start, $blue-grad--end)
    background-size: 100vw $tilt-height, auto calc(#{$gradient-height} + #{$tilt-height} / 2)
    background-position: bottom
    background-repeat: no-repeat
    // Hack to position the background across the screen, even though the
    // main content is centered with a fixed width. In a couple years when
    // 'display: subgrid' has browser support we can initialize the grid on
    // .page-wrap and put the background on .main-content directly
    position: absolute
    z-index: -1 // Never cover content on the page below
    width: 100%
    right: 0%
    content: " " // Necessary to put a background-image on a :before


/// Green and white tabbed secondary navigation bar
=tab-nav
    width: 32.3rem
    padding: 1rem 0 1.3rem
    border: 0
    border-radius: 0.4rem/3rem
    background: $green-dark
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem transparentize($blue-dark, 0.9)
    text-align: center

    .__link
        position: relative
        display: inline
        margin: 0 -0.6rem
        padding: 0.7rem 2.4rem 0.9rem
        border: 0
        border-radius: 0.4rem/3rem
        background-color: $green-dark
        background-image: linear-gradient($green, $green-dark)
        color: $white
        cursor: pointer
        font-weight: $weight_ultra-bold
        font-size: $size_medium
        line-height: 1
        font-family: $font-family
        text-align: center
        text-decoration: none
        text-shadow: 0.2rem 0.2rem 0 darken($green-dark, 5%)
        transition: all 0.12s ease-out

    .__link:hover
        $text-shadow1: 0.1rem 0.1rem 0 transparentize($blue-dark, 0.6)
        $text-shadow2: 0rem 0rem 1rem transparentize($white, 0.5)
        border: 0
        color: $white
        text-shadow: $text-shadow1, $text-shadow2

    .__link.--active
        z-index: 2
        display: inline
        margin: 0 -0.6rem
        background-color: $white
        background-image: linear-gradient($white, $white)
        color: $blue-dark
        text-shadow: 0.2rem 0.2rem 0 darken($white, 5%)

    .__link.--active:hover
        text-shadow: none

    // Scale nav to fit single column
    +respond--mini
        width: 21rem
        padding: 0.9rem 0 1.1rem

        .__link, .__link.--active
            font-size: $size_tiny
            padding: 0.7rem 1.8rem 0.9rem


/// Buttons
    A rectangular button with lightly convex left/right edges.
=button($text-color, $bg-color-light, $bg-color-dark)
    $text-shadow1: 0.1rem 0.1rem 0 transparentize($blue-dark, 0.6)
    $text-shadow2: 0rem 0rem 1rem transparentize($white, 0.5)
    position: relative
    display: table
    width: max-content
    border: 0
    border-radius: 0.6rem/3rem
    background-color: $bg-color-dark
    background-image: linear-gradient($bg-color-light, $bg-color-dark)
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem transparentize($blue-dark, 0.9)
    color: $text-color
    cursor: pointer
    font-family: $font-family
    font-weight: $weight_ultra-bold
    line-height: 1
    text-align: center
    text-decoration: none
    text-shadow: 0.2rem 0.2rem 0 darken($bg-color-dark, 5%)
    transition: all 0.12s ease-out

    &:hover
        box-shadow: 0 0 0
        text-shadow: $text-shadow1, $text-shadow2
        transform: translate(0, 0.2rem)

/// +button in various sizes. Example:
    .__button
        +button--small($white, $green, $green-dark)
=button--small($text-color, $bg-color-light, $bg-color-dark)
    +button($text-color, $bg-color-light, $bg-color-dark)
    font-size: $size_small
    padding: 0.6rem 3rem 0.9rem

=button--medium($text-color, $bg-color-light, $bg-color-dark)
    +button($text-color, $bg-color-light, $bg-color-dark)
    padding: 0.9rem 6rem 1.2rem
    font-size: $size_medium

=button--big($text-color, $bg-color-light, $bg-color-dark)
    +button($text-color, $bg-color-light, $bg-color-dark)
    padding: 1.2rem 10.8rem 1.5rem
    font-size: $size_large

    +respond--mini
        // Scale button to medium size on smaller widths
        padding: 0.9rem 6rem 1.2rem
        font-size: $size_medium
