// Navbar at full width
+respond--medium
    .top-navbar .__link:focus
        outline: 0

    .navbar-logo
        margin: auto 4.5rem auto auto

        .__img
            +image($navbar-logo)
            width: 3.8rem
            height: 4rem

    // Top-level menu and submenu toggles
    .about-toggle, .account-toggle
        opacity: 0
        cursor: pointer

    // Hide menu toggle for small devices
    .menu-toggle, .menu-label
        display: none

    .navbar-menu
        display: flex
        width: 62.5rem
        margin: 0 auto 0 0

        .__link
            +text--link
            margin: auto 3rem auto 0
            font-weight: $weight_bold
            font-size: $size_medium

        .__link.--active,
        .__link:hover.--active
            border-bottom: 0.2rem solid transparent
            color: $blue-dark
            cursor: pointer
            text-decoration: none

        .__link.--login
            margin: auto 0 auto auto

        // Login icon
        .__link.--login:before
            +image($navbar-auth)
            display: inline-block
            width: 1.5rem
            height: 1.2rem
            margin: 0 0.6rem 0 0
            content: " "

    .about-dropdown
        display: flex
        max-width: 15rem

    // Layer the toggle over the label
    .about-toggle
        position: absolute
        width: 6.3rem
        height: 6rem

    .about-label
        +text--link
        margin: auto 3rem auto 0
        font-weight: $weight_bold
        font-size: $size_medium

    // Show sub-menu when the corresponding checkbox is clicked
    .about-toggle:checked + .about-label + .about-menu,
    .about-dropdown:hover .about-menu,
    .account-toggle:checked + .account-label + .account-menu,
    .account-dropdown:hover .account-menu
        display: block

    // Have about toggle look like other links when hovered
    .about-toggle:hover + .about-label
        border-bottom: 0.2rem solid $link--hover
        color: $link--hover

    // About label appearance when active
    .about-label.--active,
    .about-toggle:checked + .about-label.--active
        border-bottom: 0.2rem solid transparent
        color: $blue-dark

    // No link underline while the label is active and hovered
    .about-toggle:checked:hover + .about-label
        text-decoration: none

    .about-menu, .account-menu
        position: relative
        display: none
        padding: 0.9rem 1.5rem 0
        border-radius: 0.6rem
        box-shadow: 1rem 1rem 1.5rem -0.5rem transparentize($drop-shadow, 0.65)
        background: $white
        list-style: none

        .__li
            margin: 1.5rem 0

        // Links don't extend to the full width of the menu,
        // due to the border-bottom property emulating text underline
        .__link
            display: inline
            font-weight: $weight_normal
            font-size: $size_small

    .about-menu
        top: 5.1rem
        left: -10.5rem
        height: 15.5rem

    .account-dropdown
        max-width: 12rem
        text-align: right
        margin: 0 3rem 0 auto

    .account-toggle
        position: absolute
        width: 4.2rem
        height: 6rem

    // Hide from view but not remove from the DOM, allowing icons to show
    .account-label
        position: relative
        top: 2.1rem
        display: inline
        width: 4.2rem
        height: 6rem
        visibility: hidden

    .account-label:before
        +image($default-avatar)
        display: inline-block
        width: 2.1rem
        height: 2.1rem
        margin: 0 -5.4rem 0 0
        content: " "
        visibility: visible

    // Toggle arrow nearly aligns with the right side
    // of the dropdown menu, with approx. 0.3rem offset
    .account-label:after
        +image($navbar-toggle-arrow)
        position: relative
        top: -0.8rem
        right: 0.3rem
        display: inline-block
        width: 0.9rem
        height: 0.5rem
        content: " "
        visibility: visible

    .account-menu
        height: 11rem
        top: 2.7rem

        // Logout icon
        .__link.--logout:before
            +image($navbar-auth)
            display: inline-block
            width: 1.5rem
            height: 1.2rem
            margin: 0 0.6rem 0 0
            content: " "
