// _page.sass
//
// Load fonts and reset elements on pages using the main template.


/// Font-faces
// Light
+font("Nunito", $weight_light, normal, $nunito-300-woff2, $nunito-300-woff)
+font("Nunito", $weight_light, italic, $nunito-300i-woff, $nunito-300i-woff)

// Regular
+font("Nunito", $weight_normal, normal, $nunito-400-woff2, $nunito-400-woff)
+font("Nunito", $weight_normal, italic, $nunito-400i-woff2, $nunito-400i-woff)

// SemiBold
+font("Nunito", $weight_semi-bold, normal, $nunito-600-woff2, $nunito-600-woff)
+font("Nunito", $weight_semi-bold, italic, $nunito-600i-woff2, $nunito-600i-woff)

// Bold
+font("Nunito", $weight_bold, normal, $nunito-700-woff2, $nunito-700-woff)
+font("Nunito", $weight_bold, italic, $nunito-700i-woff2, $nunito-700i-woff)

// ExtraBold
+font("Nunito", $weight_ultra-bold, normal, $nunito-800-woff2, $nunito-800-woff)
+font("Nunito", $weight_ultra-bold, italic, $nunito-800i-woff2, $nunito-800i-woff)

// Symbols
+font("Symbols", 400, normal, $snowdrift-symbols-woff2, $snowdrift-symbols-woff)
+font("Symbols", 400, italic, $snowdrift-symbols-woff2, $snowdrift-symbols-woff)
+font("Symbols", 600, normal, $snowdrift-symbols-woff2, $snowdrift-symbols-woff)
+font("Symbols", 600, italic, $snowdrift-symbols-woff2, $snowdrift-symbols-woff)

// Fork Awesome icons
+font("ForkAwesome", 400, normal, $fork-awesome-woff2, $fork-awesome-woff)


// Set border-box and reset margins for easier margin visualisation
*
    box-sizing: border-box
    margin: 0
    padding: 0

// Scale page on root font size, since page units are in rem
   Percentage based on 1 rem = 10 px
html
    font-size: 62.5%

// Most elements inherit font-family from ancestor elements, but browser
   default styles override it on input elements (at least in firefox)
   Not totally sure this is what we *want*, but it was this way before, so at
   least better to document & formalize it.
input
    font-family: $font-family

.page-wrap
    display: grid
    grid-template-areas: "nav" "main" "foot"

/// Set default font and grid for the content container
.main-content
    grid-area: main
    justify-self: center
    font-weight: $weight_light
    font-size: $size_medium
    line-height: 3rem
    font-family: $font-family
    color: $blue-dark
    display: grid

    +respond--mini
        grid-template-columns: $grid-columns--mini
    +respond--small
        grid-template-columns: $grid-columns--small
    +respond--medium
        grid-template-columns: $grid-columns--medium

    &.--tilt:before
        +header--tilt(18rem)

/// Standard header, with a tilted baseline and dark blue title
.main-header.--tilt
    position: relative
    grid-column: 1 / -1
    height: 24rem

    .__title
        font-weight: $weight_bold
        font-size: $size_huge
        line-height: 1
        font-family: $font-family
        color: $blue-dark
        text-align: center
        margin: 9rem auto

        // Adjust font size at smaller widths
        +respond--mini
            font-size: $size_large

        +respond--small
            font-size: $size_large

.__heading
    font-weight: $weight_bold
    font-size: $size_large
    line-height: 3rem
    font-family: $font-family

.__text.--link
    +text--link

.__button.--small
    +button--small($white, $green, $green-dark)

.__button.--medium
    +button--medium($white, $green, $green-dark)

.__button.--big
    +button--big($white, $green, $green-dark)

.__hr
    +hr

    &.--tilt
        +hr--tilt
